<div class="bigBox">

    <div class="smallBox">
        <h1><%= current_user.name %>'s profile</h1>

        <h3>Here is your profile description</h3>
        <p><%= current_user.description %></p>

    </div>

















</div>
